[[language]]
name = "swift"
language-servers = ["sourcekit-lsp"]
formatter = { command = "swift-format", args = ["format"] }
auto-format = true

[language-server.sourcekit-lsp]
command = "sourcekit-lsp"

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true

[language-server.pyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff-lsp"

[language-server.typescript-language-server]
command = "vtsls"
args = ["--stdio"]
config.hostInfo = "helix"

[language-server.typescript-language-server.config.typescript]
updateImportsOnFileMove = { enabled = "always" }
suggest = { completeFunctionCalls = true }

[language-server.fs_watcher_lsp]
command = "fs_watcher_lsp"
args = []

[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.copilot.config]
editorInfo = { name = "Helix", version = "25.01" }
editorPluginInfo = { name = "helix-copilot", version = "0.1.0" }

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "fs_watcher_lsp",
]
formatter = { command = "dprint", args = ["fmt", "--stdin", "ts"] }
auto-format = true

[[language]]
name = "javascript"
language-servers = [
  "typescript-language-server",
  "fs_watcher_lsp",
]
formatter = { command = "dprint", args = ["fmt", "--stdin", "js"] }
auto-format = true

[[language]]
name = "tsx"
language-servers = [
  "typescript-language-server",
  "fs_watcher_lsp",
]
formatter = { command = "dprint", args = ["fmt", "--stdin", "tsx"] }
auto-format = true

[[language]]
name = "jsx"
language-servers = [
  "typescript-language-server",
  "fs_watcher_lsp",
]
formatter = { command = "dprint", args = ["fmt", "--stdin", "jsx"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }
auto-format = true

[[language]]
name = "markdown"
file-types = ["md", "markdown", "txt"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
soft-wrap.enable = true

[[language]]
name = "toml"
formatter = { command = "dprint", args = ["fmt", "--stdin", "toml"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = "dprint", args = ["fmt", "--stdin", "html"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "dprint", args = ["fmt", "--stdin", "css"] }
auto-format = true

[[language]]
name = "scss"
formatter = { command = "dprint", args = ["fmt", "--stdin", "scss"] }
auto-format = true

[[language]]
name = "rust"
language-servers = [
  "rust-analyzer",
]

[[language]]
name = "go"
language-servers = [
  "gopls",
]
