# [language-server.tailwindcss-ls]
# command = "deno"
# args = ["run", "--node-modules-dir=false", "-R", "-A", "-S=cpus", "npm:@tailwindcss/language-server", "--stdio"]
# command = "bunx"
# args = ["@tailwindcss/language-server", "--stdio"]

# [language-server.svelteserver]
# command = "deno"
# args = ["run","-E","-R","-S=cpus,homedir,uid", "--allow-run", "--allow-write=.", "--allow-ffi","npm:svelte-language-server","--stdio"]
# command = "bunx"
# args = ["svelte-language-server", "--stdio"]
# environment = {"DENO_FUTURE" = "1" }

# [language-server.svelteserver]
# command = "npx"
# args = ["svelte-language-server", "--", "--stdio"]

[[language]]
name = "swift"
language-servers = ["sourcekit-lsp"]
formatter = { command = "swift-format", args = ["format"] }
auto-format = true

[language-server.sourcekit-lsp]
command = "sourcekit-lsp"

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true

[language-server.pyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff-lsp"

[language-server.typescript-language-server]
command = "vtsls"
args = ["--stdio"]
config.hostInfo = "helix"

[language-server.typescript-language-server.config.typescript]
updateImportsOnFileMove = { enabled = "always" }
suggest = { completeFunctionCalls = true }
